.aboutBackground {
  background: url(../../image/pages/overlay.png),
    url(../../image/pages/about/two.jpg);
  background-size: 256px 256px, cover;
  background-attachment: fixed, fixed;
  background-position: top left, center center;
  height: 100%;
  width: 100%;
}

.pageAbout {
  display: table;
  position: absolute;

  padding-top: 6em !important;
}

.contentAbout {
  background: rgba(255, 255, 255, 0.85);
  margin: auto;
  padding: 3.5em 2.5em 3.5em 2.5em;
  position: relative;
  width: 35%;
  text-align: justify;
}
.textAbout {
  padding-top: 10px;
  padding-bottom: 10px;
}
